{
  "root": true,
  "extends": ["eslint:recommended", "google"],
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015
  },
  "overrides": [
    {
      "files": [
        "*.js"
      ],
      "rules": {
        "import/no-default-export": "off",
        "import/no-unresolved": "off",
        "indent": ["error", 4]
      },
      "excludedFiles": [
        "custom.spec.js"
      ],
      "extends": ["eslint:recommended", "google"]
    }
  ]
}